<div class="container__smal-card">
    <div class="container__smal-card-content">
    <div class="smal-card__image">
        <img
          src="{{photoCover}}"
          alt=""
          srcset=""
        />
      </div>
      <a href=""></a>
      <div class="smal-card__title">
        <h1>
          <a
            [routerLink]="['content', id]"
            >{{cardTitle}}
        </a>
        <p>{{cardDescription}}</p>
        </h1>
      </div>
    </div>
    <div class="container__smal-card__separetor">
       <hr> 
    </div>
     
</div>

